body {
  margin: 0;
  overflow: hidden;
  background: #111;
}

.slider {
  display: flex;
  width: 200vw;
  height: 100vh;
  transition: transform 1.2s ease-in-out;
}

.page {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
